/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 370px) and (max-width: 768px) {


    *{
        margin: 0;
        scroll-behavior: smooth;
    }

    /*used to declare some variables here in root*/
    :root {
        
      }


.material-symbols-outlined {
  color: white;
  font-size: 9vw;
  position:absolute;
  top:10vh;
  right: 8vw;
}


.material-symbols-outlined:active {
    color: gray;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }


    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 22vh 100vh 40vh;
        grid-template-areas: 'g1 g1'
        'g2 g2'
        'g3 g3';
    }

    .container > .sec1{
        background-color: #181B24;
        grid-area:g1 ;
    }
    .container > .sec2{
      background-color: #EFEFEF;
        grid-area:g2 ;
    }
    .container > .sec3{
      background-color: #181B24;
      opacity: 0.8;
        grid-area:g3 ;
    }


    .fa-solid .fa-bars{
        color: white;
        font-size: 80px;
    }


    #myPic{
        margin-top: 8vw;
        margin-left: 8.6vw;
        width: 25vw;
        height: 15vh;
    }

    .container .sec1 #header_items li{
        margin: 2vw;
    }
    .container .sec1 #header_items a{
        font-family: Calibri;
        color: white;
        font-size: 4vw;
        text-decoration: none;
    }
  
    .container .sec1 #header_items{
        display: none;
        flex-direction: row;
        opacity: 0.8;    
        position:absolute;
        top:0;
        right: 0;
        list-style: none;
        font-weight: bold;
        background-color: #181B24;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-right: 6.5vw;
        padding-left: 6.5vw;
        margin-top: 22vh;
    }

    #myCV{
      margin-left: -1vw;
      width: 100vw;
      height: 60vh;
    }



/*footer elemnts (contact)*/
#contact_title{
  color: white;
  font-family: Calibri;
  margin-top: 5vh;
  margin-left: 8vw;
}
#myContact{
  display: flex;
  flex-direction: column;
  letter-spacing: 0.4vw;
  background-color: #181B24;
  opacity: 0.8;
  margin-left: 10vw;
  margin-top: 6vh;
}
#myContact p{
  color: white;
  font-family: Calibri;
  font-size: 3vw;
  font-weight: bold;
  padding: 2vw;
}
#myContact p i{
  margin-right: 3vw;
}
#myContact p a{
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}













/*static elemnts*/

    @keyframes apeare {
      63% {
        transform: translate(0%);
      }
      100% {
        transform: translate(100%);
      }
    }

    @keyframes disapeare {
      62% {
        transform: translate(100%);
      }
      100% {
        transform: translate(0%);
      }
    }




    #myBtn {
      display: none;
      position: fixed;
      bottom: 2vh;
      right: 5vw;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #181B24;
      color: white;
      cursor: pointer;
      padding: 3.2vw;
      border-radius: 4px;
    }
    
    #myBtn:active {
      background-color: rgb(44, 44, 44);
    }

}
